.App {
    text-align: center;
}

#twentytwenty-header span {
    color: red;
}

.big-emoji {
    font-size: x-large;
}

nav {
    margin: auto;
    width: fit-content;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 2em;
}