.slide-title {
    font-size: 5em;
    padding: 0.5em;
    min-height: 2em;
}

#slide-main {
    line-height: 8em;
    height: calc(100vh - 5em);
    display: flex;
    align-items: center;
    font-size: 2em;
    line-height: 2em;
    text-align: left;
}

.slide-images {
    float: left;
    max-width: 45vw;
    margin-left: 2em;
}

.slide-images img {
    max-height: 38vh;
    max-width: 45vw;
    padding: 0 1.5em;
}

.long-text {
    padding: 1.5em;
    float: right;
}

.long-text ul {
    list-style: disc;
    margin-left: 1em;
}

.end {
    padding: 2em;
}

.end h2 {
    margin: 2em;
    line-height: 30vh;
}

.end h1 {
    line-height: 5vh;
    font-size: 5em;
}

.end .big-emoji {
    font-size: 4em;
}