.users-list {
    font-size: larger;
    text-align: initial;
    padding: 2em;
    list-style: circle;
}

.users-list li {
    margin: 1em;
}

.users-list .username:hover {
    cursor: pointer;
}

.user-details {
    margin-left: 2em;
    font-size: smaller;
}

.user-details p {
    margin-top: 0.2em;
}