.pre-play-details {
    background-color: white;
    border: solid 1px black;
    z-index: 200;
    position: fixed;
    width: 40vw;
    left: 30vw;
    top: 30vh;
    margin: auto;
    padding: 0.8em;
}

.pre-play-details h2 {
    margin-bottom: 0.4em;
}

.pre-play-details h3 {
    margin-bottom: 0.8em;
}

.pre-play-details p {
    line-height: 2em;
}

.close-link {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0.2em 0.8em;
    font-size: 1.5em;
}

p.close-link {
    line-height: unset;
}

.close-link:hover {
    cursor: pointer;
}

.start {
    font-size: larger;
}

.start span {
    color: red
}